<h1>Заявка на активацию аккаунта <%= @email %></h1>
    <p>
      Вам, как администратору приложения "<%= @app_name %>", направлена заявка на активацию аккаунта от <%= @name %>.
    </p>
    <p>
      Для активации нажмите ссылку: <%= @url %>.
    </p>
    <p>Хорошего Вам дня!</p>