<h1>Запрос на изменение пароля аккаунта <%= @email %></h1>
    <p>
      Сообщите администратору системы, если Вы не отправляли этот запрос.
    </p>
    <p>
      Для изменения пароля нажмите ссылку: <%= @url %>.
    </p>
    <p>Хорошего Вам дня!</p>