default: &default
  adapter: postgresql
  encoding: unicode  
  pool: 5
  timeout: 5000
  username: <%= ENV.fetch("POSTGRES_USER", "crm") %>
  password: <%= ENV.fetch("POSTGRES_PASSWORD", "Rhyxu1Fu6") %>
  host: localhost
  port: <%= ENV.fetch("POSTGRES_PORT", "5432") %>

development:
  <<: *default
  database: crm_dev
test:
  <<: *default
  database: crm_test

production:
  <<: *default
  database: crm
